<nz-layout>
  <nz-header>
    <div class="sidebar-logo">
      <a href="http://yebelo.com/" target="_blank">
        <img
          src="https://lh3.googleusercontent.com/proxy/hoHSeJ_y3vxzjSdLH_Sg7p6L2FvweQLA09rcmAvUbGRuA2H3AFLhYevffErFJHFdoNFEAFTrbSAC1zXTFqcb_GWrtDUOwWU8Hm5X_oBAhIUCatSPG3RIpIWzoZEBAdCkm8YUemGFwqHxq-pfSUW2">
      </a>
      <h1> Shoping Mart</h1>
    </div>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>Powered By Yebelo ©2021 </nz-footer>
</nz-layout>